<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Ucyrgrave</key>
  <dict>
    <key>uni0424</key>
    <integer>-60</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>q</key>
    <integer>16</integer>
    <key>public.kern2.d</key>
    <integer>16</integer>
    <key>public.kern2.y</key>
    <integer>-36</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.b</key>
    <integer>-40</integer>
  </dict>
  <key>uni0425</key>
  <dict>
    <key>public.kern2.uni043E</key>
    <integer>-18</integer>
  </dict>
  <key>uni0431</key>
  <dict>
    <key>uni0414</key>
    <integer>-32</integer>
    <key>uni0434</key>
    <integer>-45</integer>
    <key>public.kern2.uni0432</key>
    <integer>-18</integer>
    <key>public.kern2.uni0443</key>
    <integer>-36</integer>
  </dict>
  <key>uni0432</key>
  <dict>
    <key>uni0414</key>
    <integer>-63</integer>
  </dict>
  <key>uni0440</key>
  <dict>
    <key>uni0434</key>
    <integer>-36</integer>
  </dict>
  <key>uni0441</key>
  <dict>
    <key>uni0434</key>
    <integer>-45</integer>
    <key>public.kern2.uni0436</key>
    <integer>-27</integer>
    <key>public.kern2.uni0442</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.A1</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-45</integer>
    <key>public.kern2.S</key>
    <integer>-18</integer>
    <key>public.kern2.U</key>
    <integer>-64</integer>
    <key>public.kern2.Y</key>
    <integer>-135</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>public.kern2.X</key>
    <integer>-36</integer>
    <key>public.kern2.Y</key>
    <integer>-63</integer>
  </dict>
  <key>public.kern1.G1</key>
  <dict>
    <key>public.kern2.V</key>
    <integer>-63</integer>
  </dict>
  <key>public.kern1.J1</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-37</integer>
    <key>public.kern2.w</key>
    <integer>-32</integer>
    <key>public.kern2.x</key>
    <integer>-37</integer>
    <key>public.kern2.y</key>
    <integer>-25</integer>
    <key>public.kern2.z</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>public.kern2.c</key>
    <integer>-30</integer>
    <key>public.kern2.d</key>
    <integer>-14</integer>
    <key>public.kern2.e</key>
    <integer>-28</integer>
    <key>public.kern2.g</key>
    <integer>-19</integer>
    <key>public.kern2.o</key>
    <integer>-39</integer>
    <key>public.kern2.v</key>
    <integer>-56</integer>
    <key>public.kern2.w</key>
    <integer>-34</integer>
    <key>public.kern2.y</key>
    <integer>-44</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.V</key>
    <integer>-108</integer>
    <key>public.kern2.W</key>
    <integer>-90</integer>
    <key>public.kern2.Y</key>
    <integer>-117</integer>
    <key>public.kern2.v</key>
    <integer>-61</integer>
    <key>public.kern2.w</key>
    <integer>-52</integer>
    <key>public.kern2.y</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.N1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-46</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-45</integer>
    <key>public.kern2.C</key>
    <integer>16</integer>
    <key>public.kern2.V</key>
    <integer>-45</integer>
    <key>public.kern2.W</key>
    <integer>-36</integer>
    <key>public.kern2.X</key>
    <integer>-54</integer>
    <key>public.kern2.Y</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-18</integer>
    <key>public.kern2.g</key>
    <integer>-63</integer>
    <key>public.kern2.o</key>
    <integer>-45</integer>
    <key>public.kern2.v</key>
    <integer>-44</integer>
    <key>public.kern2.w</key>
    <integer>-52</integer>
    <key>public.kern2.y</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.S1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-45</integer>
    <key>public.kern2.g</key>
    <integer>-26</integer>
    <key>public.kern2.v</key>
    <integer>-26</integer>
    <key>public.kern2.w</key>
    <integer>-35</integer>
    <key>public.kern2.y</key>
    <integer>-26</integer>
    <key>public.kern2.z</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.U1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-64</integer>
  </dict>
  <key>public.kern1.V1</key>
  <dict>
    <key>q</key>
    <integer>-54</integer>
    <key>public.kern2.C</key>
    <integer>-54</integer>
    <key>public.kern2.G</key>
    <integer>-63</integer>
    <key>public.kern2.a</key>
    <integer>-72</integer>
    <key>public.kern2.c</key>
    <integer>-63</integer>
    <key>public.kern2.d</key>
    <integer>-72</integer>
    <key>public.kern2.e</key>
    <integer>-45</integer>
    <key>public.kern2.g</key>
    <integer>-63</integer>
    <key>public.kern2.o</key>
    <integer>-72</integer>
    <key>public.kern2.p</key>
    <integer>-45</integer>
    <key>public.kern2.s</key>
    <integer>-45</integer>
    <key>public.kern2.y</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.W1</key>
  <dict>
    <key>q</key>
    <integer>-54</integer>
    <key>public.kern2.C</key>
    <integer>-45</integer>
    <key>public.kern2.G</key>
    <integer>-45</integer>
    <key>public.kern2.a</key>
    <integer>-45</integer>
    <key>public.kern2.c</key>
    <integer>-45</integer>
    <key>public.kern2.d</key>
    <integer>-63</integer>
    <key>public.kern2.e</key>
    <integer>-36</integer>
    <key>public.kern2.g</key>
    <integer>-90</integer>
    <key>public.kern2.o</key>
    <integer>-54</integer>
    <key>public.kern2.s</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.X1</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-72</integer>
    <key>public.kern2.G</key>
    <integer>-36</integer>
    <key>public.kern2.o</key>
    <integer>-36</integer>
    <key>public.kern2.v</key>
    <integer>-54</integer>
    <key>public.kern2.w</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.Y1</key>
  <dict>
    <key>q</key>
    <integer>-63</integer>
    <key>public.kern2.A</key>
    <integer>-162</integer>
    <key>public.kern2.C</key>
    <integer>-63</integer>
    <key>public.kern2.G</key>
    <integer>-63</integer>
    <key>public.kern2.a</key>
    <integer>-72</integer>
    <key>public.kern2.c</key>
    <integer>-63</integer>
    <key>public.kern2.d</key>
    <integer>-81</integer>
    <key>public.kern2.e</key>
    <integer>-54</integer>
    <key>public.kern2.g</key>
    <integer>-90</integer>
    <key>public.kern2.o</key>
    <integer>-81</integer>
    <key>public.kern2.s</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-54</integer>
    <key>public.kern2.w</key>
    <integer>-36</integer>
    <key>public.kern2.x</key>
    <integer>-27</integer>
    <key>public.kern2.y</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.a1</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-54</integer>
    <key>public.kern2.w</key>
    <integer>-36</integer>
    <key>public.kern2.y</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.d1</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-27</integer>
    <key>public.kern2.y</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.e1</key>
  <dict>
    <key>public.kern2.y</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.y</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>public.kern2.o</key>
    <integer>16</integer>
    <key>public.kern2.v</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.p1</key>
  <dict>
    <key>q</key>
    <integer>16</integer>
    <key>public.kern2.d</key>
    <integer>16</integer>
    <key>public.kern2.o</key>
    <integer>16</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>uni0414</key>
    <integer>-60</integer>
    <key>uni0434</key>
    <integer>-80</integer>
    <key>uni043B</key>
    <integer>-90</integer>
    <key>uni043C</key>
    <integer>-40</integer>
    <key>uni0440</key>
    <integer>-40</integer>
    <key>uni044E</key>
    <integer>-45</integer>
    <key>uni044F</key>
    <integer>-80</integer>
    <key>public.kern2.uni0430</key>
    <integer>-30</integer>
    <key>public.kern2.uni0432</key>
    <integer>-48</integer>
    <key>public.kern2.uni0435</key>
    <integer>-30</integer>
    <key>public.kern2.uni0436</key>
    <integer>-79</integer>
    <key>public.kern2.uni0437</key>
    <integer>-48</integer>
    <key>public.kern2.uni043E</key>
    <integer>-56</integer>
    <key>public.kern2.uni0442</key>
    <integer>-36</integer>
    <key>public.kern2.uni0447</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>uni0424</key>
    <integer>-60</integer>
    <key>uni043B</key>
    <integer>-72</integer>
    <key>uni043C</key>
    <integer>-45</integer>
    <key>uni0440</key>
    <integer>-18</integer>
    <key>uni0445</key>
    <integer>-54</integer>
    <key>uni0446</key>
    <integer>-54</integer>
    <key>uni0449</key>
    <integer>-54</integer>
    <key>uni044E</key>
    <integer>-54</integer>
    <key>uni044F</key>
    <integer>-54</integer>
    <key>public.kern2.uni0432</key>
    <integer>-54</integer>
    <key>public.kern2.uni043E</key>
    <integer>-108</integer>
    <key>public.kern2.uni0442</key>
    <integer>-54</integer>
    <key>public.kern2.uni0447</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.uni0414</key>
  <dict>
    <key>public.kern2.uni0437</key>
    <integer>-32</integer>
    <key>public.kern2.uni043E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-32</integer>
    <key>public.kern2.uni0447</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1.uni04161</key>
  <dict>
    <key>public.kern2.uni043E</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.uni0421</key>
  <dict>
    <key>uni043B</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.uni04301</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.uni0433</key>
  <dict>
    <key>uni0434</key>
    <integer>-45</integer>
    <key>uni043B</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.uni04351</key>
  <dict>
    <key>public.kern2.uni0436</key>
    <integer>-45</integer>
    <key>public.kern2.uni0443</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.uni04361</key>
  <dict>
    <key>public.kern2.uni043E</key>
    <integer>-36</integer>
    <key>public.kern2.uni0443</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.uni04371</key>
  <dict>
    <key>uni043B</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.uni043A</key>
  <dict>
    <key>uni0431</key>
    <integer>-36</integer>
    <key>public.kern2.uni0430</key>
    <integer>-36</integer>
    <key>public.kern2.uni043E</key>
    <integer>-36</integer>
    <key>public.kern2.uni0442</key>
    <integer>-54</integer>
    <key>public.kern2.uni0443</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>uni0414</key>
    <integer>-40</integer>
    <key>uni0434</key>
    <integer>-54</integer>
    <key>public.kern2.uni0432</key>
    <integer>-18</integer>
    <key>public.kern2.uni0436</key>
    <integer>-36</integer>
    <key>public.kern2.uni043E</key>
    <integer>12</integer>
    <key>public.kern2.uni0442</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>uni0414</key>
    <integer>-87</integer>
    <key>uni0434</key>
    <integer>-36</integer>
    <key>uni043B</key>
    <integer>-36</integer>
    <key>public.kern2.uni0436</key>
    <integer>-36</integer>
    <key>public.kern2.uni043E</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.v1</key>
  <dict>
    <key>q</key>
    <integer>-18</integer>
    <key>public.kern2.J</key>
    <integer>-50</integer>
    <key>public.kern2.a</key>
    <integer>-27</integer>
    <key>public.kern2.d</key>
    <integer>-45</integer>
    <key>public.kern2.o</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.w1</key>
  <dict>
    <key>public.kern2.J</key>
    <integer>-45</integer>
    <key>public.kern2.a</key>
    <integer>-18</integer>
    <key>public.kern2.d</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.x1</key>
  <dict>
    <key>public.kern2.g</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.y1</key>
  <dict>
    <key>public.kern2.J</key>
    <integer>-18</integer>
    <key>public.kern2.e</key>
    <integer>-18</integer>
  </dict>
</dict>
</plist>
