<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>b</key>
  <dict>
    <key>public.kern2.u</key>
    <integer>-20</integer>
  </dict>
  <key>uni0411</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-50</integer>
    <key>uni041B.loclBGR</key>
    <integer>-30</integer>
    <key>uni043B.loclBGR</key>
    <integer>-20</integer>
    <key>public.kern2.uni040E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0410</key>
    <integer>-30</integer>
  </dict>
  <key>uni0412</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-50</integer>
    <key>uni0416.loclBGR</key>
    <integer>-50</integer>
    <key>uni041B.loclBGR</key>
    <integer>-50</integer>
    <key>uni043B.loclBGR</key>
    <integer>-40</integer>
    <key>public.kern2.uni0410</key>
    <integer>-50</integer>
    <key>public.kern2.uni0427</key>
    <integer>-50</integer>
  </dict>
  <key>uni0414.loclBGR</key>
  <dict>
    <key>uni0411</key>
    <integer>-30</integer>
    <key>uni0416.loclBGR</key>
    <integer>-30</integer>
    <key>uni041A.loclBGR</key>
    <integer>-60</integer>
    <key>uni041B.loclBGR</key>
    <integer>-20</integer>
    <key>uni0424</key>
    <integer>-60</integer>
    <key>uni0425</key>
    <integer>-40</integer>
    <key>uni0426</key>
    <integer>-50</integer>
    <key>uni0429</key>
    <integer>-40</integer>
    <key>uni042A</key>
    <integer>-110</integer>
    <key>uni042E</key>
    <integer>-30</integer>
    <key>uni042F</key>
    <integer>-50</integer>
    <key>uni043B.loclBGR</key>
    <integer>-50</integer>
    <key>public.kern2.uni0400</key>
    <integer>-50</integer>
    <key>public.kern2.uni040A</key>
    <integer>-50</integer>
    <key>public.kern2.uni040B</key>
    <integer>-90</integer>
    <key>public.kern2.uni040E</key>
    <integer>-100</integer>
    <key>public.kern2.uni0410</key>
    <integer>-40</integer>
    <key>public.kern2.uni0417</key>
    <integer>-60</integer>
    <key>public.kern2.uni041E</key>
    <integer>-70</integer>
    <key>public.kern2.uni0427</key>
    <integer>-140</integer>
    <key>public.kern2.uni042D</key>
    <integer>-50</integer>
  </dict>
  <key>uni0416.loclBGR</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-40</integer>
    <key>uni0424</key>
    <integer>-30</integer>
    <key>uni043B.loclBGR</key>
    <integer>-40</integer>
    <key>public.kern2.uni040E</key>
    <integer>-30</integer>
    <key>public.kern2.uni041E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0427</key>
    <integer>-40</integer>
  </dict>
  <key>uni041A.loclBGR</key>
  <dict>
    <key>uni0424</key>
    <integer>-30</integer>
    <key>uni042A</key>
    <integer>-20</integer>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
    <key>public.kern2.uni040E</key>
    <integer>-30</integer>
    <key>public.kern2.uni041E</key>
    <integer>-60</integer>
    <key>public.kern2.uni0427</key>
    <integer>-40</integer>
  </dict>
  <key>uni041B.loclBGR</key>
  <dict>
    <key>uni0424</key>
    <integer>-40</integer>
    <key>uni0426</key>
    <integer>-20</integer>
    <key>public.kern2.uni0400</key>
    <integer>-20</integer>
    <key>public.kern2.uni040A</key>
    <integer>-20</integer>
    <key>public.kern2.uni040B</key>
    <integer>-20</integer>
    <key>public.kern2.uni040E</key>
    <integer>-80</integer>
    <key>public.kern2.uni041E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0427</key>
    <integer>-120</integer>
    <key>public.kern2.uni0432</key>
    <integer>-40</integer>
    <key>public.kern2.uni0442</key>
    <integer>-80</integer>
  </dict>
  <key>uni0420</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-80</integer>
    <key>uni0416.loclBGR</key>
    <integer>-70</integer>
    <key>public.kern2.uni0410</key>
    <integer>-60</integer>
  </dict>
  <key>uni0422</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-50</integer>
    <key>uni0416.loclBGR</key>
    <integer>-40</integer>
    <key>uni041B.loclBGR</key>
    <integer>-20</integer>
    <key>public.kern2.uni0410</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-70</integer>
  </dict>
  <key>uni0424</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-40</integer>
    <key>uni0416.loclBGR</key>
    <integer>-30</integer>
    <key>uni041B.loclBGR</key>
    <integer>-20</integer>
    <key>uni0424</key>
    <integer>60</integer>
    <key>uni0431</key>
    <integer>40</integer>
    <key>uni0434</key>
    <integer>30</integer>
    <key>uni0437.loclBGR</key>
    <integer>20</integer>
    <key>uni0440</key>
    <integer>30</integer>
    <key>public.kern2.uni0410</key>
    <integer>-30</integer>
    <key>public.kern2.uni041E</key>
    <integer>30</integer>
    <key>public.kern2.uni0427</key>
    <integer>-30</integer>
    <key>public.kern2.uni0430</key>
    <integer>40</integer>
    <key>public.kern2.uni0432</key>
    <integer>30</integer>
    <key>public.kern2.uni043E</key>
    <integer>30</integer>
  </dict>
  <key>uni0425</key>
  <dict>
    <key>uni0431</key>
    <integer>-20</integer>
    <key>uni0434</key>
    <integer>-20</integer>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
    <key>public.kern2.uni041E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0427</key>
    <integer>-30</integer>
    <key>public.kern2.uni0432</key>
    <integer>-20</integer>
    <key>public.kern2.uni0436</key>
    <integer>-20</integer>
    <key>public.kern2.uni0437</key>
    <integer>-20</integer>
    <key>public.kern2.uni043E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-80</integer>
  </dict>
  <key>uni042A</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-90</integer>
    <key>uni0416.loclBGR</key>
    <integer>-30</integer>
    <key>uni0425</key>
    <integer>-50</integer>
    <key>uni0426</key>
    <integer>-40</integer>
    <key>uni043C</key>
    <integer>-20</integer>
    <key>public.kern2.uni0400</key>
    <integer>-50</integer>
    <key>public.kern2.uni040E</key>
    <integer>-50</integer>
    <key>public.kern2.uni0410</key>
    <integer>-50</integer>
    <key>public.kern2.uni0427</key>
    <integer>-120</integer>
    <key>public.kern2.uni0442</key>
    <integer>-50</integer>
  </dict>
  <key>uni042C</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-60</integer>
    <key>uni0416.loclBGR</key>
    <integer>-40</integer>
    <key>uni0425</key>
    <integer>-50</integer>
    <key>uni0426</key>
    <integer>-40</integer>
    <key>public.kern2.uni0400</key>
    <integer>-50</integer>
    <key>public.kern2.uni040E</key>
    <integer>-70</integer>
    <key>public.kern2.uni0427</key>
    <integer>-120</integer>
    <key>public.kern2.uni0442</key>
    <integer>-80</integer>
  </dict>
  <key>uni0431</key>
  <dict>
    <key>uni043B</key>
    <integer>-20</integer>
    <key>uni043C</key>
    <integer>-20</integer>
    <key>uni044F</key>
    <integer>-40</integer>
    <key>public.kern2.uni0442</key>
    <integer>-30</integer>
  </dict>
  <key>uni0432</key>
  <dict>
    <key>uni044F</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>uni0437.loclBGR</key>
  <dict>
    <key>uni0424</key>
    <integer>20</integer>
  </dict>
  <key>uni043B</key>
  <dict>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>uni0441</key>
  <dict>
    <key>uni043B</key>
    <integer>-50</integer>
    <key>public.kern2.uni0436</key>
    <integer>-30</integer>
    <key>public.kern2.uni0437</key>
    <integer>-50</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>uni0442</key>
  <dict>
    <key>public.kern2.uni043E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.A1</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-30</integer>
    <key>public.kern2.G</key>
    <integer>-30</integer>
    <key>public.kern2.V</key>
    <integer>-40</integer>
    <key>public.kern2.W</key>
    <integer>-40</integer>
    <key>public.kern2.Y</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.C1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>public.kern2.J</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-30</integer>
    <key>public.kern2.J</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.H</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-30</integer>
    <key>public.kern2.v</key>
    <integer>-50</integer>
    <key>public.kern2.w</key>
    <integer>-50</integer>
    <key>public.kern2.y</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.P1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-30</integer>
    <key>public.kern2.J</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.T1</key>
  <dict>
    <key>public.kern2.J</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.U1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.V1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-40</integer>
    <key>public.kern2.J</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.W1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-40</integer>
    <key>public.kern2.J</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.X1</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-10</integer>
    <key>public.kern2.J</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.Y1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-30</integer>
    <key>public.kern2.J</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>public.kern2.u</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.s1</key>
  <dict>
    <key>public.kern2.y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni04001</key>
  <dict>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-110</integer>
    <key>uni0416.loclBGR</key>
    <integer>-40</integer>
    <key>uni041B.loclBGR</key>
    <integer>-80</integer>
    <key>uni042F</key>
    <integer>-90</integer>
    <key>uni043B</key>
    <integer>-90</integer>
    <key>uni043B.loclBGR</key>
    <integer>-50</integer>
    <key>uni043C</key>
    <integer>-60</integer>
    <key>public.kern2.uni0410</key>
    <integer>-80</integer>
    <key>public.kern2.uni043E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.uni0406</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-30</integer>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
    <key>public.kern2.uni0400</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni040D</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-50</integer>
    <key>uni041A.loclBGR</key>
    <integer>-20</integer>
    <key>uni041B.loclBGR</key>
    <integer>-40</integer>
    <key>uni043B.loclBGR</key>
    <integer>-50</integer>
    <key>public.kern2.uni040A</key>
    <integer>-30</integer>
    <key>public.kern2.uni0410</key>
    <integer>-30</integer>
    <key>public.kern2.uni0427</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>uni0411</key>
    <integer>-50</integer>
    <key>uni0414.loclBGR</key>
    <integer>-150</integer>
    <key>uni041A.loclBGR</key>
    <integer>-20</integer>
    <key>uni041B.loclBGR</key>
    <integer>-110</integer>
    <key>uni0426</key>
    <integer>-30</integer>
    <key>uni042F</key>
    <integer>-130</integer>
    <key>uni0434</key>
    <integer>-40</integer>
    <key>uni043B</key>
    <integer>-120</integer>
    <key>uni043C</key>
    <integer>-130</integer>
    <key>uni0440</key>
    <integer>-40</integer>
    <key>uni0449</key>
    <integer>-30</integer>
    <key>uni044F</key>
    <integer>-50</integer>
    <key>public.kern2.uni0410</key>
    <integer>-130</integer>
    <key>public.kern2.uni041E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0427</key>
    <integer>-40</integer>
    <key>public.kern2.uni042D</key>
    <integer>-30</integer>
    <key>public.kern2.uni0430</key>
    <integer>-60</integer>
    <key>public.kern2.uni0432</key>
    <integer>-70</integer>
    <key>public.kern2.uni043E</key>
    <integer>-80</integer>
    <key>public.kern2.uni0442</key>
    <integer>-80</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
    <key>public.kern2.uni0447</key>
    <integer>-50</integer>
    <key>public.kern2.uni044D</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.uni04101</key>
  <dict>
    <key>uni0424</key>
    <integer>-30</integer>
    <key>uni0429</key>
    <integer>-30</integer>
    <key>uni042A</key>
    <integer>-80</integer>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
    <key>public.kern2.uni0400</key>
    <integer>-10</integer>
    <key>public.kern2.uni040A</key>
    <integer>-20</integer>
    <key>public.kern2.uni040B</key>
    <integer>-40</integer>
    <key>public.kern2.uni040E</key>
    <integer>-60</integer>
    <key>public.kern2.uni0427</key>
    <integer>-120</integer>
    <key>public.kern2.uni042D</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni0414</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-30</integer>
    <key>uni041B.loclBGR</key>
    <integer>-20</integer>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
    <key>uni044F</key>
    <integer>-20</integer>
    <key>public.kern2.uni0400</key>
    <integer>-20</integer>
    <key>public.kern2.uni0410</key>
    <integer>-20</integer>
    <key>public.kern2.uni0427</key>
    <integer>-50</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni04171</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.uni041E1</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-70</integer>
    <key>uni0416.loclBGR</key>
    <integer>-40</integer>
    <key>uni041A.loclBGR</key>
    <integer>-30</integer>
    <key>uni041B.loclBGR</key>
    <integer>-30</integer>
    <key>uni0424</key>
    <integer>30</integer>
    <key>uni0425</key>
    <integer>-40</integer>
    <key>uni043B.loclBGR</key>
    <integer>-30</integer>
    <key>public.kern2.uni0427</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni0421</key>
  <dict>
    <key>uni0416.loclBGR</key>
    <integer>-40</integer>
    <key>uni043B.loclBGR</key>
    <integer>-40</integer>
    <key>uni043C</key>
    <integer>-20</integer>
    <key>public.kern2.uni0410</key>
    <integer>-30</integer>
    <key>public.kern2.uni043E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni04271</key>
  <dict>
    <key>public.kern2.uni0410</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni042D1</key>
  <dict>
    <key>uni0414.loclBGR</key>
    <integer>-60</integer>
    <key>uni0424</key>
    <integer>30</integer>
    <key>public.kern2.uni040E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0410</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni04301</key>
  <dict>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0434</key>
  <dict>
    <key>uni043C</key>
    <integer>-20</integer>
    <key>public.kern2.uni0437</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni04351</key>
  <dict>
    <key>uni043B</key>
    <integer>-30</integer>
    <key>uni044F</key>
    <integer>-20</integer>
    <key>public.kern2.uni0427</key>
    <integer>-40</integer>
    <key>public.kern2.uni0437</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni04361</key>
  <dict>
    <key>uni043B</key>
    <integer>-30</integer>
    <key>public.kern2.uni0427</key>
    <integer>-50</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni04371</key>
  <dict>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0438</key>
  <dict>
    <key>public.kern2.uni0427</key>
    <integer>-40</integer>
    <key>public.kern2.uni0437</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.uni043A</key>
  <dict>
    <key>uni043B</key>
    <integer>-20</integer>
    <key>public.kern2.uni0427</key>
    <integer>-40</integer>
    <key>public.kern2.uni0430</key>
    <integer>-20</integer>
    <key>public.kern2.uni043E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-60</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>uni043B</key>
    <integer>-30</integer>
    <key>uni044F</key>
    <integer>-20</integer>
    <key>public.kern2.uni040E</key>
    <integer>-50</integer>
    <key>public.kern2.uni0427</key>
    <integer>-30</integer>
    <key>public.kern2.uni0437</key>
    <integer>-30</integer>
    <key>public.kern2.uni043E</key>
    <integer>10</integer>
    <key>public.kern2.uni0442</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>uni0434</key>
    <integer>-20</integer>
    <key>uni043B</key>
    <integer>-40</integer>
    <key>uni043C</key>
    <integer>-40</integer>
    <key>uni044F</key>
    <integer>-40</integer>
    <key>public.kern2.uni0436</key>
    <integer>-50</integer>
    <key>public.kern2.uni0437</key>
    <integer>-30</integer>
    <key>public.kern2.uni043E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0442</key>
    <integer>-40</integer>
    <key>public.kern2.uni044D</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>public.kern2.uni0436</key>
    <integer>-20</integer>
    <key>public.kern2.uni0437</key>
    <integer>-40</integer>
  </dict>
</dict>
</plist>
