<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Ucyrgrave</key>
  <dict>
    <key>uni0424</key>
    <integer>-79</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>q</key>
    <integer>20</integer>
    <key>public.kern2.d</key>
    <integer>20</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.b</key>
    <integer>-41</integer>
  </dict>
  <key>uni0420</key>
  <dict>
    <key>uni0434</key>
    <integer>-48</integer>
    <key>uni043B</key>
    <integer>-95</integer>
  </dict>
  <key>uni0422</key>
  <dict>
    <key>uni0434</key>
    <integer>-87</integer>
    <key>uni043B</key>
    <integer>-71</integer>
    <key>uni044F</key>
    <integer>-32</integer>
    <key>public.kern2.uni0430</key>
    <integer>-20</integer>
    <key>public.kern2.uni043E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0442</key>
    <integer>-24</integer>
  </dict>
  <key>uni0425</key>
  <dict>
    <key>public.kern2.uni043E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0442</key>
    <integer>-56</integer>
    <key>public.kern2.uni0443</key>
    <integer>-60</integer>
    <key>public.kern2.uni0447</key>
    <integer>-39</integer>
  </dict>
  <key>uni0431</key>
  <dict>
    <key>uni0414</key>
    <integer>-71</integer>
    <key>public.kern2.uni040E</key>
    <integer>-48</integer>
    <key>public.kern2.uni0416</key>
    <integer>-32</integer>
    <key>public.kern2.uni0427</key>
    <integer>-32</integer>
  </dict>
  <key>uni0432</key>
  <dict>
    <key>uni0414</key>
    <integer>-8</integer>
    <key>public.kern2.uni040E</key>
    <integer>-56</integer>
  </dict>
  <key>uni0440</key>
  <dict>
    <key>uni0414</key>
    <integer>-24</integer>
  </dict>
  <key>uni0442</key>
  <dict>
    <key>uni0425</key>
    <integer>-56</integer>
    <key>uni042F</key>
    <integer>-56</integer>
    <key>public.kern2.uni040E</key>
    <integer>-40</integer>
  </dict>
  <key>uni0444</key>
  <dict>
    <key>uni0414</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1.A1</key>
  <dict>
    <key>public.kern2.U</key>
    <integer>-56</integer>
  </dict>
  <key>public.kern1.N1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.U1</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-56</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>public.kern2.o</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.p1</key>
  <dict>
    <key>q</key>
    <integer>20</integer>
    <key>public.kern2.d</key>
    <integer>20</integer>
    <key>public.kern2.o</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>uni0414</key>
    <integer>-60</integer>
    <key>uni0434</key>
    <integer>-80</integer>
    <key>uni043B</key>
    <integer>-90</integer>
    <key>uni043C</key>
    <integer>-48</integer>
    <key>uni0440</key>
    <integer>-34</integer>
    <key>uni044F</key>
    <integer>-60</integer>
    <key>public.kern2.uni0430</key>
    <integer>-30</integer>
    <key>public.kern2.uni0432</key>
    <integer>-32</integer>
    <key>public.kern2.uni0435</key>
    <integer>-30</integer>
    <key>public.kern2.uni0436</key>
    <integer>-79</integer>
    <key>public.kern2.uni0437</key>
    <integer>-48</integer>
    <key>public.kern2.uni043E</key>
    <integer>-56</integer>
    <key>public.kern2.uni0447</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni0406</key>
  <dict>
    <key>public.kern2.uni0442</key>
    <integer>-30</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
    <key>public.kern2.uni0447</key>
    <integer>-48</integer>
  </dict>
  <key>public.kern1.uni040C</key>
  <dict>
    <key>public.kern2.uni043E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-48</integer>
    <key>public.kern2.uni0447</key>
    <integer>-71</integer>
  </dict>
  <key>public.kern1.uni040D</key>
  <dict>
    <key>public.kern2.uni0442</key>
    <integer>-16</integer>
    <key>public.kern2.uni0447</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>uni0424</key>
    <integer>-79</integer>
    <key>uni0431</key>
    <integer>-56</integer>
    <key>uni0434</key>
    <integer>-159</integer>
    <key>uni043B</key>
    <integer>-143</integer>
    <key>uni043C</key>
    <integer>-71</integer>
    <key>uni0440</key>
    <integer>-64</integer>
    <key>uni0445</key>
    <integer>-50</integer>
    <key>uni0446</key>
    <integer>-56</integer>
    <key>uni0449</key>
    <integer>-63</integer>
    <key>uni044E</key>
    <integer>-71</integer>
    <key>uni044F</key>
    <integer>-79</integer>
    <key>public.kern2.uni0430</key>
    <integer>-90</integer>
    <key>public.kern2.uni0432</key>
    <integer>-79</integer>
    <key>public.kern2.uni0436</key>
    <integer>-87</integer>
    <key>public.kern2.uni0437</key>
    <integer>-79</integer>
    <key>public.kern2.uni043E</key>
    <integer>-84</integer>
    <key>public.kern2.uni0442</key>
    <integer>-48</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
    <key>public.kern2.uni0447</key>
    <integer>-95</integer>
    <key>public.kern2.uni044D</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0414</key>
  <dict>
    <key>public.kern2.uni0437</key>
    <integer>-32</integer>
    <key>public.kern2.uni0447</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1.uni04161</key>
  <dict>
    <key>uni0431</key>
    <integer>-24</integer>
    <key>public.kern2.uni0437</key>
    <integer>-24</integer>
    <key>public.kern2.uni043E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0442</key>
    <integer>-56</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
    <key>public.kern2.uni0447</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni041E1</key>
  <dict>
    <key>uni0434</key>
    <integer>-71</integer>
    <key>uni043B</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.uni0421</key>
  <dict>
    <key>uni0434</key>
    <integer>-56</integer>
    <key>uni043B</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.uni042D1</key>
  <dict>
    <key>uni0434</key>
    <integer>-56</integer>
  </dict>
  <key>public.kern1.uni04301</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0433</key>
  <dict>
    <key>uni042F</key>
    <integer>-56</integer>
    <key>public.kern2.uni0416</key>
    <integer>-48</integer>
  </dict>
  <key>public.kern1.uni0434</key>
  <dict>
    <key>public.kern2.uni0427</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1.uni04351</key>
  <dict>
    <key>uni042F</key>
    <integer>-24</integer>
    <key>public.kern2.uni0416</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.uni04361</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-79</integer>
    <key>public.kern2.uni0427</key>
    <integer>-48</integer>
  </dict>
  <key>public.kern1.uni04371</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-48</integer>
    <key>public.kern2.uni0416</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1.uni0438</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-16</integer>
    <key>public.kern2.uni0427</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1.uni043A</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-63</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>uni0425</key>
    <integer>-40</integer>
    <key>uni042F</key>
    <integer>-48</integer>
    <key>public.kern2.uni0409</key>
    <integer>-20</integer>
    <key>public.kern2.uni040B</key>
    <integer>-40</integer>
    <key>public.kern2.uni040E</key>
    <integer>-63</integer>
    <key>public.kern2.uni0427</key>
    <integer>-48</integer>
    <key>public.kern2.uni043E</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>uni0414</key>
    <integer>-79</integer>
    <key>uni0425</key>
    <integer>-60</integer>
    <key>uni042F</key>
    <integer>-56</integer>
    <key>public.kern2.uni0400</key>
    <integer>-20</integer>
    <key>public.kern2.uni0416</key>
    <integer>-56</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>public.kern2.uni040B</key>
    <integer>-60</integer>
    <key>public.kern2.uni0416</key>
    <integer>-16</integer>
    <key>public.kern2.uni0427</key>
    <integer>-63</integer>
  </dict>
</dict>
</plist>
