<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>19</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>dsc</key>
      <dict>
        <key>position</key>
        <integer>-213</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>T1</key>
      <dict>
        <key>position</key>
        <integer>486</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>caps</key>
      <dict>
        <key>position</key>
        <integer>676</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehookabove</string>
    <string>Abrevetilde</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhookabove</string>
    <string>Acircumflextilde</string>
    <string>Adieresis</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahookabove</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>Beta</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Chi</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Delta</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhookabove</string>
    <string>Ecircumflextilde</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Ehookabove</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>Eth</string>
    <string>Etilde</string>
    <string>Euro</string>
    <string>F</string>
    <string>G</string>
    <string>Gacute</string>
    <string>Gamma</string>
    <string>Gbreve</string>
    <string>Gcaron</string>
    <string>Gcedilla</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcaron</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icaron</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Igrave</string>
    <string>Ihookabove</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kappa</string>
    <string>Kcaron</string>
    <string>Kcedilla</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lambda</string>
    <string>Lcaron</string>
    <string>Lcedilla</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>Mu</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncedilla</string>
    <string>Ntilde</string>
    <string>Nu</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhookabove</string>
    <string>Ocircumflextilde</string>
    <string>Odieresis</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohookabove</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhookabove</string>
    <string>Ohorntilde</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omega</string>
    <string>Omegatonos</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Phi</string>
    <string>Pi</string>
    <string>Psi</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcedilla</string>
    <string>Rho</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Sigma</string>
    <string>T</string>
    <string>Tau</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Theta</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucaron</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhookabove</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhookabove</string>
    <string>Uhorntilde</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Xi</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotbelow</string>
    <string>Ygrave</string>
    <string>Yhookabove</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zeta</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehookabove</string>
    <string>abrevetilde</string>
    <string>acaron</string>
    <string>acircumflex</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhookabove</string>
    <string>acircumflextilde</string>
    <string>acute</string>
    <string>acutebelowcomb</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>adotbelow</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>ahookabove</string>
    <string>alpha</string>
    <string>alphatonos</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>anoteleia</string>
    <string>aogonek</string>
    <string>apostrophe</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>beta</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brevecomb</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>c_t</string>
    <string>cacute</string>
    <string>caron</string>
    <string>caroncomb</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>chi</string>
    <string>circumflex</string>
    <string>circumflexcomb</string>
    <string>colon</string>
    <string>colonmonetary</string>
    <string>comma</string>
    <string>copyright</string>
    <string>currency</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>delta</string>
    <string>diaeresiscomb</string>
    <string>dieresis</string>
    <string>dieresistonos</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotabovecomb</string>
    <string>dotaccent</string>
    <string>dotbelowcomb</string>
    <string>dotlessi</string>
    <string>doubleacutecomb</string>
    <string>doublegravecomb</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhookabove</string>
    <string>ecircumflextilde</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>egrave</string>
    <string>ehookabove</string>
    <string>eight</string>
    <string>eight.denominator</string>
    <string>eight.inferior</string>
    <string>eight.numerator</string>
    <string>eight.subscript</string>
    <string>eight.superior</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>eogonek</string>
    <string>epsilon</string>
    <string>epsilontonos</string>
    <string>equal</string>
    <string>estimated</string>
    <string>eta</string>
    <string>etatonos</string>
    <string>eth</string>
    <string>etilde</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>f_i</string>
    <string>f_l</string>
    <string>five</string>
    <string>five.denominator</string>
    <string>five.inferior</string>
    <string>five.numerator</string>
    <string>five.subscript</string>
    <string>five.superior</string>
    <string>fiveeighths</string>
    <string>florin</string>
    <string>four</string>
    <string>four.denominator</string>
    <string>four.inferior</string>
    <string>four.numerator</string>
    <string>four.subscript</string>
    <string>four.superior</string>
    <string>fraction</string>
    <string>g</string>
    <string>gacute</string>
    <string>gamma</string>
    <string>gbreve</string>
    <string>gcaron</string>
    <string>gcedilla</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravebelowcomb</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcaron</string>
    <string>hcircumflex</string>
    <string>hookabovecomb</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icaron</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>idotbelow</string>
    <string>igrave</string>
    <string>ihookabove</string>
    <string>ij</string>
    <string>imacron</string>
    <string>infinity</string>
    <string>invertedbrevecomb</string>
    <string>iogonek</string>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>iotatonos</string>
    <string>itilde</string>
    <string>j</string>
    <string>j.dotless</string>
    <string>jcaron</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kappa</string>
    <string>kcaron</string>
    <string>kcedilla</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>lacute</string>
    <string>lambda</string>
    <string>lcaron</string>
    <string>lcedilla</string>
    <string>ldot</string>
    <string>less</string>
    <string>lessequal</string>
    <string>logicalnot</string>
    <string>longs</string>
    <string>lozenge</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>macroncomb</string>
    <string>minus</string>
    <string>mu</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncedilla</string>
    <string>nine</string>
    <string>nine.denominator</string>
    <string>nine.inferior</string>
    <string>nine.numerator</string>
    <string>nine.subscript</string>
    <string>nine.superior</string>
    <string>notequal</string>
    <string>ntilde</string>
    <string>nu</string>
    <string>numbersign</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocaron</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhookabove</string>
    <string>ocircumflextilde</string>
    <string>odieresis</string>
    <string>odotbelow</string>
    <string>oe</string>
    <string>ogonek</string>
    <string>ograve</string>
    <string>ohookabove</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhookabove</string>
    <string>ohorntilde</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omega</string>
    <string>omegatonos</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>one</string>
    <string>one.denominator</string>
    <string>one.inferior</string>
    <string>one.numerator</string>
    <string>one.subscript</string>
    <string>one.superior</string>
    <string>oneeighth</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>onethird</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>overlinecomb</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>partialdiff</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>phi</string>
    <string>phi1</string>
    <string>pi</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>psi</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>radical</string>
    <string>rcaron</string>
    <string>rcedilla</string>
    <string>registered</string>
    <string>rho</string>
    <string>ring</string>
    <string>ringcomb</string>
    <string>s</string>
    <string>s_t</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>seven.denominator</string>
    <string>seven.inferior</string>
    <string>seven.numerator</string>
    <string>seven.subscript</string>
    <string>seven.superior</string>
    <string>seveneighths</string>
    <string>sigma</string>
    <string>sigma1</string>
    <string>six</string>
    <string>six.denominator</string>
    <string>six.inferior</string>
    <string>six.numerator</string>
    <string>six.subscript</string>
    <string>six.superior</string>
    <string>slash</string>
    <string>sterling</string>
    <string>summation</string>
    <string>t</string>
    <string>tau</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>theta</string>
    <string>theta1</string>
    <string>thorn</string>
    <string>three</string>
    <string>three.denominator</string>
    <string>three.inferior</string>
    <string>three.numerator</string>
    <string>three.subscript</string>
    <string>three.superior</string>
    <string>threeeighths</string>
    <string>threequarters</string>
    <string>tilde</string>
    <string>tildecomb</string>
    <string>tonos</string>
    <string>trademark</string>
    <string>turnedcommacomb</string>
    <string>two</string>
    <string>two.denominator</string>
    <string>two.inferior</string>
    <string>two.numerator</string>
    <string>two.subscript</string>
    <string>two.superior</string>
    <string>twothirds</string>
    <string>u</string>
    <string>u10143</string>
    <string>u10144</string>
    <string>u10145</string>
    <string>u10146</string>
    <string>u10147</string>
    <string>u1F100</string>
    <string>u1F101</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucaron</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>udotbelow</string>
    <string>ugrave</string>
    <string>uhookabove</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhookabove</string>
    <string>uhorntilde</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>uni00A0</string>
    <string>uni00AD</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni018F</string>
    <string>uni0190</string>
    <string>uni019F</string>
    <string>uni01C3</string>
    <string>uni01C4</string>
    <string>uni01C5</string>
    <string>uni01C6</string>
    <string>uni01C7</string>
    <string>uni01C8</string>
    <string>uni01C9</string>
    <string>uni01CA</string>
    <string>uni01CB</string>
    <string>uni01CC</string>
    <string>uni01D5</string>
    <string>uni01D6</string>
    <string>uni01D7</string>
    <string>uni01D8</string>
    <string>uni01D9</string>
    <string>uni01DA</string>
    <string>uni01DB</string>
    <string>uni01DC</string>
    <string>uni01DD</string>
    <string>uni01DE</string>
    <string>uni01DF</string>
    <string>uni01E0</string>
    <string>uni01E1</string>
    <string>uni01E2</string>
    <string>uni01E3</string>
    <string>uni01E4</string>
    <string>uni01E5</string>
    <string>uni01EA</string>
    <string>uni01EB</string>
    <string>uni01EC</string>
    <string>uni01ED</string>
    <string>uni01F1</string>
    <string>uni01F2</string>
    <string>uni01F3</string>
    <string>uni01F8</string>
    <string>uni01F9</string>
    <string>uni0200</string>
    <string>uni0201</string>
    <string>uni0202</string>
    <string>uni0203</string>
    <string>uni0204</string>
    <string>uni0205</string>
    <string>uni0206</string>
    <string>uni0207</string>
    <string>uni0208</string>
    <string>uni0209</string>
    <string>uni020A</string>
    <string>uni020B</string>
    <string>uni020C</string>
    <string>uni020D</string>
    <string>uni020E</string>
    <string>uni020F</string>
    <string>uni0210</string>
    <string>uni0211</string>
    <string>uni0212</string>
    <string>uni0213</string>
    <string>uni0214</string>
    <string>uni0215</string>
    <string>uni0216</string>
    <string>uni0217</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni0222</string>
    <string>uni0223</string>
    <string>uni0224</string>
    <string>uni0225</string>
    <string>uni0226</string>
    <string>uni0227</string>
    <string>uni0228</string>
    <string>uni0229</string>
    <string>uni022A</string>
    <string>uni022B</string>
    <string>uni022C</string>
    <string>uni022D</string>
    <string>uni022E</string>
    <string>uni022F</string>
    <string>uni0230</string>
    <string>uni0231</string>
    <string>uni0232</string>
    <string>uni0233</string>
    <string>uni0258</string>
    <string>uni0259</string>
    <string>uni025B</string>
    <string>uni0275</string>
    <string>uni02BB</string>
    <string>uni02BD</string>
    <string>uni02BE</string>
    <string>uni02BF</string>
    <string>uni02C0</string>
    <string>uni02C9</string>
    <string>uni02CA</string>
    <string>uni02CB</string>
    <string>uni0313</string>
    <string>uni0314</string>
    <string>uni031B</string>
    <string>uni0324</string>
    <string>uni0325</string>
    <string>uni0326</string>
    <string>uni0327</string>
    <string>uni0328</string>
    <string>uni032C</string>
    <string>uni032D</string>
    <string>uni032E</string>
    <string>uni032F</string>
    <string>uni0330</string>
    <string>uni0331</string>
    <string>uni033E</string>
    <string>uni0342</string>
    <string>uni0343</string>
    <string>uni0344</string>
    <string>uni0345</string>
    <string>uni0374</string>
    <string>uni0375</string>
    <string>uni037A</string>
    <string>uni037E</string>
    <string>uni0394</string>
    <string>uni03A9</string>
    <string>uni03BC</string>
    <string>uni03D0</string>
    <string>uni03D2</string>
    <string>uni03D3</string>
    <string>uni03D4</string>
    <string>uni03D6</string>
    <string>uni03D7</string>
    <string>uni03D8</string>
    <string>uni03D9</string>
    <string>uni03DA</string>
    <string>uni03DB</string>
    <string>uni03DC</string>
    <string>uni03DD</string>
    <string>uni03DE</string>
    <string>uni03DF</string>
    <string>uni03E0</string>
    <string>uni03E1</string>
    <string>uni03F0</string>
    <string>uni03F1</string>
    <string>uni03F2</string>
    <string>uni03F3</string>
    <string>uni03F4</string>
    <string>uni03F5</string>
    <string>uni03F6</string>
    <string>uni03F7</string>
    <string>uni03F8</string>
    <string>uni03F9</string>
    <string>uni03FA</string>
    <string>uni03FB</string>
    <string>uni03FC</string>
    <string>uni03FD</string>
    <string>uni03FE</string>
    <string>uni03FF</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414.loclBGR</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416.loclBGR</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A.loclBGR</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041B.locl</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0431.loclSRB</string>
    <string>uni0432.loclBGR</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B</string>
    <string>uni043B.loclBGR</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043D.loclBGR</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni043F.loclBGR</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0442.loclBGR</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0444.loclBGR</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045D</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0460</string>
    <string>uni0461</string>
    <string>uni0462</string>
    <string>uni0463</string>
    <string>uni0464</string>
    <string>uni0465</string>
    <string>uni0466</string>
    <string>uni0467</string>
    <string>uni0468</string>
    <string>uni0469</string>
    <string>uni046A</string>
    <string>uni046B</string>
    <string>uni046C</string>
    <string>uni046D</string>
    <string>uni046E</string>
    <string>uni046F</string>
    <string>uni0470</string>
    <string>uni0471</string>
    <string>uni0472</string>
    <string>uni0473</string>
    <string>uni0474</string>
    <string>uni0475</string>
    <string>uni0476</string>
    <string>uni0477</string>
    <string>uni0478</string>
    <string>uni0479</string>
    <string>uni047A</string>
    <string>uni047B</string>
    <string>uni047C</string>
    <string>uni047D</string>
    <string>uni047E</string>
    <string>uni047F</string>
    <string>uni0480</string>
    <string>uni0481</string>
    <string>uni0482</string>
    <string>uni0483</string>
    <string>uni0484</string>
    <string>uni0485</string>
    <string>uni0486</string>
    <string>uni0490</string>
    <string>uni0491</string>
    <string>uni0492</string>
    <string>uni0493</string>
    <string>uni0496</string>
    <string>uni0497</string>
    <string>uni0498</string>
    <string>uni0499</string>
    <string>uni049A</string>
    <string>uni049B</string>
    <string>uni049C</string>
    <string>uni049D</string>
    <string>uni04A0</string>
    <string>uni04A1</string>
    <string>uni04A2</string>
    <string>uni04A3</string>
    <string>uni04A4</string>
    <string>uni04A5</string>
    <string>uni04AA</string>
    <string>uni04AB</string>
    <string>uni04AE</string>
    <string>uni04AF</string>
    <string>uni04B0</string>
    <string>uni04B1</string>
    <string>uni04B2</string>
    <string>uni04B3</string>
    <string>uni04B6</string>
    <string>uni04B7</string>
    <string>uni04B8</string>
    <string>uni04B9</string>
    <string>uni04BA</string>
    <string>uni04BB</string>
    <string>uni04C0</string>
    <string>uni04C1</string>
    <string>uni04C2</string>
    <string>uni04D0</string>
    <string>uni04D1</string>
    <string>uni04D2</string>
    <string>uni04D3</string>
    <string>uni04D4</string>
    <string>uni04D5</string>
    <string>uni04D6</string>
    <string>uni04D7</string>
    <string>uni04D8</string>
    <string>uni04D9</string>
    <string>uni04DA</string>
    <string>uni04DB</string>
    <string>uni04DC</string>
    <string>uni04DD</string>
    <string>uni04DE</string>
    <string>uni04DF</string>
    <string>uni04E2</string>
    <string>uni04E3</string>
    <string>uni04E4</string>
    <string>uni04E5</string>
    <string>uni04E6</string>
    <string>uni04E7</string>
    <string>uni04E8</string>
    <string>uni04E9</string>
    <string>uni04EA</string>
    <string>uni04EB</string>
    <string>uni04EC</string>
    <string>uni04ED</string>
    <string>uni04EE</string>
    <string>uni04EF</string>
    <string>uni04F0</string>
    <string>uni04F1</string>
    <string>uni04F2</string>
    <string>uni04F3</string>
    <string>uni04F4</string>
    <string>uni04F5</string>
    <string>uni04F8</string>
    <string>uni04F9</string>
    <string>uni1E00</string>
    <string>uni1E01</string>
    <string>uni1E02</string>
    <string>uni1E03</string>
    <string>uni1E04</string>
    <string>uni1E05</string>
    <string>uni1E06</string>
    <string>uni1E07</string>
    <string>uni1E08</string>
    <string>uni1E09</string>
    <string>uni1E0A</string>
    <string>uni1E0B</string>
    <string>uni1E0C</string>
    <string>uni1E0D</string>
    <string>uni1E0E</string>
    <string>uni1E0F</string>
    <string>uni1E10</string>
    <string>uni1E11</string>
    <string>uni1E12</string>
    <string>uni1E13</string>
    <string>uni1E14</string>
    <string>uni1E15</string>
    <string>uni1E16</string>
    <string>uni1E17</string>
    <string>uni1E18</string>
    <string>uni1E19</string>
    <string>uni1E1A</string>
    <string>uni1E1B</string>
    <string>uni1E1C</string>
    <string>uni1E1D</string>
    <string>uni1E1E</string>
    <string>uni1E1F</string>
    <string>uni1E20</string>
    <string>uni1E21</string>
    <string>uni1E22</string>
    <string>uni1E23</string>
    <string>uni1E24</string>
    <string>uni1E25</string>
    <string>uni1E26</string>
    <string>uni1E27</string>
    <string>uni1E28</string>
    <string>uni1E29</string>
    <string>uni1E2A</string>
    <string>uni1E2B</string>
    <string>uni1E2C</string>
    <string>uni1E2D</string>
    <string>uni1E2E</string>
    <string>uni1E2F</string>
    <string>uni1E30</string>
    <string>uni1E31</string>
    <string>uni1E32</string>
    <string>uni1E33</string>
    <string>uni1E34</string>
    <string>uni1E35</string>
    <string>uni1E36</string>
    <string>uni1E37</string>
    <string>uni1E38</string>
    <string>uni1E39</string>
    <string>uni1E3A</string>
    <string>uni1E3B</string>
    <string>uni1E3C</string>
    <string>uni1E3D</string>
    <string>uni1E3E</string>
    <string>uni1E3F</string>
    <string>uni1E40</string>
    <string>uni1E41</string>
    <string>uni1E42</string>
    <string>uni1E43</string>
    <string>uni1E44</string>
    <string>uni1E45</string>
    <string>uni1E46</string>
    <string>uni1E47</string>
    <string>uni1E48</string>
    <string>uni1E49</string>
    <string>uni1E4A</string>
    <string>uni1E4B</string>
    <string>uni1E4C</string>
    <string>uni1E4D</string>
    <string>uni1E4E</string>
    <string>uni1E4F</string>
    <string>uni1E50</string>
    <string>uni1E51</string>
    <string>uni1E52</string>
    <string>uni1E53</string>
    <string>uni1E54</string>
    <string>uni1E55</string>
    <string>uni1E56</string>
    <string>uni1E57</string>
    <string>uni1E58</string>
    <string>uni1E59</string>
    <string>uni1E5A</string>
    <string>uni1E5B</string>
    <string>uni1E5C</string>
    <string>uni1E5D</string>
    <string>uni1E5E</string>
    <string>uni1E5F</string>
    <string>uni1E60</string>
    <string>uni1E61</string>
    <string>uni1E62</string>
    <string>uni1E63</string>
    <string>uni1E64</string>
    <string>uni1E65</string>
    <string>uni1E66</string>
    <string>uni1E67</string>
    <string>uni1E68</string>
    <string>uni1E69</string>
    <string>uni1E6A</string>
    <string>uni1E6B</string>
    <string>uni1E6C</string>
    <string>uni1E6D</string>
    <string>uni1E6E</string>
    <string>uni1E6F</string>
    <string>uni1E70</string>
    <string>uni1E71</string>
    <string>uni1E72</string>
    <string>uni1E73</string>
    <string>uni1E74</string>
    <string>uni1E75</string>
    <string>uni1E76</string>
    <string>uni1E77</string>
    <string>uni1E78</string>
    <string>uni1E79</string>
    <string>uni1E7A</string>
    <string>uni1E7B</string>
    <string>uni1E7C</string>
    <string>uni1E7D</string>
    <string>uni1E7E</string>
    <string>uni1E7F</string>
    <string>uni1E86</string>
    <string>uni1E87</string>
    <string>uni1E88</string>
    <string>uni1E89</string>
    <string>uni1E8A</string>
    <string>uni1E8B</string>
    <string>uni1E8C</string>
    <string>uni1E8D</string>
    <string>uni1E8E</string>
    <string>uni1E8F</string>
    <string>uni1E90</string>
    <string>uni1E91</string>
    <string>uni1E92</string>
    <string>uni1E93</string>
    <string>uni1E94</string>
    <string>uni1E95</string>
    <string>uni1E96</string>
    <string>uni1E97</string>
    <string>uni1E98</string>
    <string>uni1E99</string>
    <string>uni1E9A</string>
    <string>uni1E9B</string>
    <string>uni1E9C</string>
    <string>uni1E9D</string>
    <string>uni1E9F</string>
    <string>uni1EF8</string>
    <string>uni1EF9</string>
    <string>uni1F00</string>
    <string>uni1F01</string>
    <string>uni1F02</string>
    <string>uni1F03</string>
    <string>uni1F04</string>
    <string>uni1F05</string>
    <string>uni1F06</string>
    <string>uni1F07</string>
    <string>uni1F08</string>
    <string>uni1F09</string>
    <string>uni1F0A</string>
    <string>uni1F0B</string>
    <string>uni1F0C</string>
    <string>uni1F0D</string>
    <string>uni1F0E</string>
    <string>uni1F0F</string>
    <string>uni1F10</string>
    <string>uni1F11</string>
    <string>uni1F12</string>
    <string>uni1F13</string>
    <string>uni1F14</string>
    <string>uni1F15</string>
    <string>uni1F18</string>
    <string>uni1F19</string>
    <string>uni1F1A</string>
    <string>uni1F1B</string>
    <string>uni1F1C</string>
    <string>uni1F1D</string>
    <string>uni1F20</string>
    <string>uni1F21</string>
    <string>uni1F22</string>
    <string>uni1F23</string>
    <string>uni1F24</string>
    <string>uni1F25</string>
    <string>uni1F26</string>
    <string>uni1F27</string>
    <string>uni1F28</string>
    <string>uni1F29</string>
    <string>uni1F2A</string>
    <string>uni1F2B</string>
    <string>uni1F2C</string>
    <string>uni1F2D</string>
    <string>uni1F2E</string>
    <string>uni1F2F</string>
    <string>uni1F30</string>
    <string>uni1F31</string>
    <string>uni1F32</string>
    <string>uni1F33</string>
    <string>uni1F34</string>
    <string>uni1F35</string>
    <string>uni1F36</string>
    <string>uni1F37</string>
    <string>uni1F38</string>
    <string>uni1F39</string>
    <string>uni1F3A</string>
    <string>uni1F3B</string>
    <string>uni1F3C</string>
    <string>uni1F3D</string>
    <string>uni1F3E</string>
    <string>uni1F3F</string>
    <string>uni1F40</string>
    <string>uni1F41</string>
    <string>uni1F42</string>
    <string>uni1F43</string>
    <string>uni1F44</string>
    <string>uni1F45</string>
    <string>uni1F48</string>
    <string>uni1F49</string>
    <string>uni1F4A</string>
    <string>uni1F4B</string>
    <string>uni1F4C</string>
    <string>uni1F4D</string>
    <string>uni1F50</string>
    <string>uni1F51</string>
    <string>uni1F52</string>
    <string>uni1F53</string>
    <string>uni1F54</string>
    <string>uni1F55</string>
    <string>uni1F56</string>
    <string>uni1F57</string>
    <string>uni1F59</string>
    <string>uni1F5B</string>
    <string>uni1F5D</string>
    <string>uni1F5F</string>
    <string>uni1F60</string>
    <string>uni1F61</string>
    <string>uni1F62</string>
    <string>uni1F63</string>
    <string>uni1F64</string>
    <string>uni1F65</string>
    <string>uni1F66</string>
    <string>uni1F67</string>
    <string>uni1F68</string>
    <string>uni1F69</string>
    <string>uni1F6A</string>
    <string>uni1F6B</string>
    <string>uni1F6C</string>
    <string>uni1F6D</string>
    <string>uni1F6E</string>
    <string>uni1F6F</string>
    <string>uni1F70</string>
    <string>uni1F71</string>
    <string>uni1F72</string>
    <string>uni1F73</string>
    <string>uni1F74</string>
    <string>uni1F75</string>
    <string>uni1F76</string>
    <string>uni1F77</string>
    <string>uni1F78</string>
    <string>uni1F79</string>
    <string>uni1F7A</string>
    <string>uni1F7B</string>
    <string>uni1F7C</string>
    <string>uni1F7D</string>
    <string>uni1F80</string>
    <string>uni1F81</string>
    <string>uni1F82</string>
    <string>uni1F83</string>
    <string>uni1F84</string>
    <string>uni1F85</string>
    <string>uni1F86</string>
    <string>uni1F87</string>
    <string>uni1F88</string>
    <string>uni1F89</string>
    <string>uni1F8A</string>
    <string>uni1F8B</string>
    <string>uni1F8C</string>
    <string>uni1F8D</string>
    <string>uni1F8E</string>
    <string>uni1F8F</string>
    <string>uni1F90</string>
    <string>uni1F91</string>
    <string>uni1F92</string>
    <string>uni1F93</string>
    <string>uni1F94</string>
    <string>uni1F95</string>
    <string>uni1F96</string>
    <string>uni1F97</string>
    <string>uni1F98</string>
    <string>uni1F99</string>
    <string>uni1F9A</string>
    <string>uni1F9B</string>
    <string>uni1F9C</string>
    <string>uni1F9D</string>
    <string>uni1F9E</string>
    <string>uni1F9F</string>
    <string>uni1FA0</string>
    <string>uni1FA1</string>
    <string>uni1FA2</string>
    <string>uni1FA3</string>
    <string>uni1FA4</string>
    <string>uni1FA5</string>
    <string>uni1FA6</string>
    <string>uni1FA7</string>
    <string>uni1FA8</string>
    <string>uni1FA9</string>
    <string>uni1FAA</string>
    <string>uni1FAB</string>
    <string>uni1FAC</string>
    <string>uni1FAD</string>
    <string>uni1FAE</string>
    <string>uni1FAF</string>
    <string>uni1FB0</string>
    <string>uni1FB1</string>
    <string>uni1FB2</string>
    <string>uni1FB3</string>
    <string>uni1FB4</string>
    <string>uni1FB6</string>
    <string>uni1FB7</string>
    <string>uni1FB8</string>
    <string>uni1FB9</string>
    <string>uni1FBA</string>
    <string>uni1FBB</string>
    <string>uni1FBC</string>
    <string>uni1FBD</string>
    <string>uni1FBE</string>
    <string>uni1FBF</string>
    <string>uni1FC0</string>
    <string>uni1FC1</string>
    <string>uni1FC2</string>
    <string>uni1FC3</string>
    <string>uni1FC4</string>
    <string>uni1FC6</string>
    <string>uni1FC7</string>
    <string>uni1FC8</string>
    <string>uni1FC9</string>
    <string>uni1FCA</string>
    <string>uni1FCB</string>
    <string>uni1FCC</string>
    <string>uni1FCD</string>
    <string>uni1FCE</string>
    <string>uni1FCF</string>
    <string>uni1FD0</string>
    <string>uni1FD1</string>
    <string>uni1FD2</string>
    <string>uni1FD3</string>
    <string>uni1FD6</string>
    <string>uni1FD7</string>
    <string>uni1FD8</string>
    <string>uni1FD9</string>
    <string>uni1FDA</string>
    <string>uni1FDB</string>
    <string>uni1FDD</string>
    <string>uni1FDE</string>
    <string>uni1FDF</string>
    <string>uni1FE0</string>
    <string>uni1FE1</string>
    <string>uni1FE2</string>
    <string>uni1FE3</string>
    <string>uni1FE4</string>
    <string>uni1FE5</string>
    <string>uni1FE6</string>
    <string>uni1FE7</string>
    <string>uni1FE8</string>
    <string>uni1FE9</string>
    <string>uni1FEA</string>
    <string>uni1FEB</string>
    <string>uni1FEC</string>
    <string>uni1FED</string>
    <string>uni1FEE</string>
    <string>uni1FEF</string>
    <string>uni1FF2</string>
    <string>uni1FF3</string>
    <string>uni1FF4</string>
    <string>uni1FF6</string>
    <string>uni1FF7</string>
    <string>uni1FF8</string>
    <string>uni1FF9</string>
    <string>uni1FFA</string>
    <string>uni1FFB</string>
    <string>uni1FFC</string>
    <string>uni1FFD</string>
    <string>uni1FFE</string>
    <string>uni200C</string>
    <string>uni201B</string>
    <string>uni201F</string>
    <string>uni2023</string>
    <string>uni2031</string>
    <string>uni2038</string>
    <string>uni203B</string>
    <string>uni203C</string>
    <string>uni203D</string>
    <string>uni203F</string>
    <string>uni2040</string>
    <string>uni2041</string>
    <string>uni2042</string>
    <string>uni2043</string>
    <string>uni2045</string>
    <string>uni2046</string>
    <string>uni2047</string>
    <string>uni2048</string>
    <string>uni2049</string>
    <string>uni20A0</string>
    <string>uni20A2</string>
    <string>uni20A3</string>
    <string>uni20A4</string>
    <string>uni20A5</string>
    <string>uni20A6</string>
    <string>uni20A7</string>
    <string>uni20A9</string>
    <string>uni20AB</string>
    <string>uni2103</string>
    <string>uni2104</string>
    <string>uni2109</string>
    <string>uni2114</string>
    <string>uni2116</string>
    <string>uni211E</string>
    <string>uni211F</string>
    <string>uni2123</string>
    <string>uni212A</string>
    <string>uni212B</string>
    <string>uni2132</string>
    <string>uni2155</string>
    <string>uni2156</string>
    <string>uni2157</string>
    <string>uni2158</string>
    <string>uni2159</string>
    <string>uni215A</string>
    <string>uni215F</string>
    <string>uni2191</string>
    <string>uni2193</string>
    <string>uni2194</string>
    <string>uni2195</string>
    <string>uni2196</string>
    <string>uni2197</string>
    <string>uni2198</string>
    <string>uni2199</string>
    <string>uni2329</string>
    <string>uni232A</string>
    <string>uni2423</string>
    <string>uni2669</string>
    <string>uni266A</string>
    <string>uni266B</string>
    <string>uni266C</string>
    <string>uni301A</string>
    <string>uni301B</string>
    <string>uniE095</string>
    <string>uniE09A</string>
    <string>uniE0AB</string>
    <string>uniE0AD</string>
    <string>uniE0AE</string>
    <string>uniE0AF</string>
    <string>uniE0B0</string>
    <string>uniE1A0</string>
    <string>uniE1A1</string>
    <string>uniE1A2</string>
    <string>uniE1A3</string>
    <string>uniE1A9</string>
    <string>uniE1AA</string>
    <string>uniE1AB</string>
    <string>uniE1AC</string>
    <string>uniE1AD</string>
    <string>uniE1AE</string>
    <string>uniE1AF</string>
    <string>uniE1B0</string>
    <string>uniE1B1</string>
    <string>uniE1B2</string>
    <string>uniE1B3</string>
    <string>uniE1BC</string>
    <string>uniE1BD</string>
    <string>uniE1BE</string>
    <string>uniE1BF</string>
    <string>uniE1C0</string>
    <string>uniE1C1</string>
    <string>uniE1C2</string>
    <string>uniE1C3</string>
    <string>uniE1CC</string>
    <string>uniE1CD</string>
    <string>uniE1CE</string>
    <string>uniE1CF</string>
    <string>uniEB00</string>
    <string>uniEB01</string>
    <string>uniEB04</string>
    <string>uniEB05</string>
    <string>uniEB06</string>
    <string>uniEB07</string>
    <string>uniEB08</string>
    <string>uniEB09</string>
    <string>uniEB0A</string>
    <string>uniEB0B</string>
    <string>uniEB0E</string>
    <string>uniEB0F</string>
    <string>uniEB12</string>
    <string>uniEB1A</string>
    <string>uniEB1B</string>
    <string>uniEB1E</string>
    <string>uniEB1F</string>
    <string>uniEB22</string>
    <string>uniEB2A</string>
    <string>uniEB2B</string>
    <string>uniEB2E</string>
    <string>uniEB2F</string>
    <string>uniEB34</string>
    <string>uniEB35</string>
    <string>uniEB36</string>
    <string>uniEB37</string>
    <string>uniEB38</string>
    <string>uniEB39</string>
    <string>uniEB3D</string>
    <string>uniEB3E</string>
    <string>uniEB3F</string>
    <string>uniEB46</string>
    <string>uniEB47</string>
    <string>uniEB48</string>
    <string>uniEB49</string>
    <string>uniEB4F</string>
    <string>uniEB50</string>
    <string>uniEB51</string>
    <string>uniEB52</string>
    <string>uniEB53</string>
    <string>uniEB54</string>
    <string>uniEB55</string>
    <string>uniEB56</string>
    <string>uniEB57</string>
    <string>uniEB58</string>
    <string>uniEB59</string>
    <string>uniEB5A</string>
    <string>uniEB5B</string>
    <string>uniEB5C</string>
    <string>uniEB5D</string>
    <string>uniEB5E</string>
    <string>uniEB5F</string>
    <string>uniEC20</string>
    <string>uniEC29</string>
    <string>uniEC32</string>
    <string>uniEC40</string>
    <string>uniEC41</string>
    <string>uniEC42</string>
    <string>uniEC43</string>
    <string>uniED00</string>
    <string>uniF485</string>
    <string>uniF6BE</string>
    <string>uniF6C3</string>
    <string>uniF6D4</string>
    <string>uniF6D6</string>
    <string>uniF6D9</string>
    <string>uniF730</string>
    <string>uniF731</string>
    <string>uniF732</string>
    <string>uniF733</string>
    <string>uniF734</string>
    <string>uniF735</string>
    <string>uniF736</string>
    <string>uniF737</string>
    <string>uniF738</string>
    <string>uniF739</string>
    <string>uniFB05</string>
    <string>uogonek</string>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
    <string>uring</string>
    <string>utilde</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>xi</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotbelow</string>
    <string>yen</string>
    <string>ygrave</string>
    <string>yhookabove</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
    <string>zero.denominator</string>
    <string>zero.inferior</string>
    <string>zero.numerator</string>
    <string>zero.slash</string>
    <string>zero.subscript</string>
    <string>zero.superior</string>
    <string>zeta</string>
    <string>.null</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni045D.loclBGR</string>
  </array>
</dict>
</plist>
